
.footerSvg {
    background: url('../../images/bg-footer-top-mobile.svg');
   height: 50px;
  background-repeat: no-repeat;
  margin-bottom: -10px;

}

.footerContainer {
  background: var(--veryDarkCyan);
  color: #fff;
  box-sizing: border-box;
  padding: 10px 50px 50px 10px;
}
.newsLetter{
  font-size: 1.4rem;
}

.newsletterInput, .newsletterSubmit {
 display: block;
 padding: 10px 10px;
 margin-top: 5px;
 border-radius: 5px;
 border: none;
} 
.newsletterInput {
 width: 90%;
} 

.newsletterSubmit {
 padding: 10px 20px;
 font-size: 1rem;
 background: var(--pink);
 color: #fff;
 font-weight: 600;
} 

.footerGrid .socials {
 font-size: 1.5rem;
 margin: 50px 0;
}
.footerGrid .socials a {
 margin: 0 5px;
 font-size: 1.9rem;
 text-decoration: none;
 color: #fff;

}

@media (min-width: 400px) {
    .footerSvg {
        background: url('../../images/bg-footer-top-desktop.svg');
       height: 250px;
      background-repeat: no-repeat;
      margin-bottom: -100px;
    }
   

}

@media (min-width: 700px) {
    
  .footerContainer {
    padding: 0 100px 50px 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .footerGrid .socials {
   text-align: right;
   }

   .newsletterInput {
    width: 10cd 0%;
   }  

}